body {
    background-color:black;
    color: white;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

/* phan header */
.header {
    background-color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position:fixed;
	top: 0px;
    right: 0px;
    left: 0px;
    text-transform: uppercase;
}

/* phan logo */
.logoteam {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logoimg {
    max-width: 5rem;
    margin: 1rem  0rem 1rem 5rem;
    border-radius: 50%;
}
.logotext {
    margin: auto 1px;
    font-family: fantasy;
    display: inline-block;
    font-size:40px;
    transform: scale(.9, 1);
    color: black;
}

/* phan menu */
.menu {
    margin-right: 2rem;
}
.menu-item {
    display: inline-block;   
    padding: 12px 20px;
    position: relative;
}
.menu-item:hover .menu-child {
    opacity:1;
    visibility: visible;
}
.menu-link {
    text-decoration:none;
    color: black;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}
.menu-link-home {
    text-decoration:none;
    color: red;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    border-bottom: 3px solid red;
}
.menu-child {
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;    
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    transition-delay: 250ms;
}
.menu-child-list {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.menu-child-link {
    text-decoration: none;
    font-weight:600;
    color: white;
    transition: all 0.3s;
}
.menu-child-link:hover {
    color: rgb(2, 91, 175);
}

/* menu hover */
.navbar .menu-item .menu-link {
    display: inline-block;
    text-decoration:none;
    padding: -20px 10px;
}
.navbar .menu-item .menu-link:after {
    display:block;
    content:'';
    border-bottom-style:solid;
    border-bottom-color:red;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.navbar .menu-item .menu-link:hover:after {
    transform: scaleX(1);
}
.navbar .menu-child-list:hover:after {
    transform-origin: 0% 50%; 
}

/* menu icon */
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 4px;
    margin-left: 15px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* phan gioi thieu */
.introduction-bg {
    margin-top: 8%;
    background-image: url(intro-bg.jpg);
    background-size: cover;
    padding: 21%;
}
.introduction-header {
    margin-top:-5%;
    margin-left: -90%;
    text-align: center;
}

/* about us */
.about-us-bg {
    background-image: url(about-us-bg.jpg);
    background-size: cover;
    padding: 20%;
}
.about-us-info {
    margin: -5rem -10rem 0 30rem;
    display:flex;
    flex-direction: column;
}
.about-us-header {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}
.about-us-body {
   
    display: inline-block;
    padding: 0 -100;
    text-align: center;
}
.read-more {
    margin: 0 auto;
    display: inline-block;
    border: solid white 1px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    transition: 0.3s all;
}
.read-more:hover {
    border-color: red;
    color:red;
}

/*phan news */
.news-header {
    text-transform: uppercase;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.news-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch; 
}
.news-info {
    display: inline-block;
    border: solid 2px red;
    width: 20%;
    margin-top: 0;
    text-decoration: none;
    color: white;
    height: 400px;
    transition: 0.3s all;
}
.news-img{
    width: 100%;
    height: 40%;
}
.news-link {
    text-align: justify;
    margin: 10px 5px;
    min-height: 70px;
    font-weight: 500;
}
.news-link-info {
    text-align: justify;
    margin: 10px 5px;
    color: rgb(136, 136, 136);
    font-size:14px;
} 
.news-info:hover {
    color: red;
    border-color: white;
}
.news-info:hover .news-link-info {
    color: red;
    border-color: white;
}
.news .read-more {
    display: flex;
    margin: 3% 45%;
    justify-content: center;
}

/* phan footer */
.footer{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright {
    margin-left: 50px;
    color: rgb(136, 136, 136);
    font-size: 14px;
}
.follow{
    margin-right: 100px;
}
.fa{
    padding: 10px;
    font-size: 20px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    transition: 0.3s all;
  }
.fa-facebook {
    border: 1px solid white;
    background: black;
    color: white;
    opacity: 0.5;
}
.fa-instagram {
    border: 1px solid white;
    background: black;
    color: white;
    opacity: 0.5;
}
.fa-twitter {
    border: 1px solid white;
    background: black;
    color: white;
    opacity: 0.5;
}
.fa-youtube {
    border: 1px solid white;
    background: black;
    color: white;
    opacity: 0.5;
}
.fa-steam {
    border: 1px solid white;
    background: black;
    color: white;
    opacity: 0.5;
}
.fa:hover {
    opacity: 1;
}